/* CSS que inicializa los estilos del proyecto, para casi todo debería usarse Tailwind directamente */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d5d5d3; /* Color de la barra de desplazamiento */
  border-radius: 5px; /* Radio de borde de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Fondo transparente */
}

:root {
  font-family: "Lexend", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F1FFF2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
